<div class="container-fluid">
  <div class="row">
    <div class="col-1 text-left">
      <span>ホーム</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
    <span>検索フォームを表示</span>
  </div>
  
  <div class="row">
    <div class="col-3 bg-secondary">
      <span>タグによる絞り込み</span>
    </div>
    <div class="col-6 bg-info">
      <span>GoogleMap表示</span>
    </div>
    <div class="col-3 bg-danger">
      <span>投稿一覧</span>
      <% @parks.each do |park| %>
        <table>
          <thead>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to park.park_name, park_path(park.id) %></td>
          </tbody>
        </table>
      <% end %>
    </div>

</div>