  <div class="row">
    <div class="col-5 mt-3 text-left">
      <%= link_to "ホーム", parks_path %> >> ユーザーページ
    </div>
  </div>
  
  <div class="row">
    <h3><%= @user.name %>さんのページ</h3>
  </div>

  <div class="row align-items-stretch mt-3">
    <div class="col-4 bg-warning">
      <h5>投稿履歴一覧</h5>
        <ul>
          <% @parks.each do |park| %>
            <li><%= link_to park.park_name, park_path(park.id) %></li>
          <% end %>
        </ul>
    </div>
    
    <div class="col-4 bg-success">
      <h5>いいねした投稿</h5>
        <ul>
          <% @favorited_parks.each do |park| %>
            <li><%= link_to park.park_name, park_path(park.id) %></li>
          <% end %>
        </ul>
    </div>
    
    <div class="col-4 bg-primary">
      <h5>コメントした投稿</h5>
    </div>
  </div>