@font-face {
     font-family: 'MyFont';
     src: url('/assets/fonts/Corporate-Logo-Rounded-Bold-ver3.otf');
}

body {
  font-family: 'MyFont', sans-serif;
}

.navbar-brand {
    height: 100%;
    width: auto;
}

.navbar {
    background-color: #C5A05A
}